* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: white;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background: #1B4353;
    display: flex;
    padding-top: 70px;
    padding-bottom: 48px;
}

a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: rgba(0, 0, 0, .3);
}

header nav {
    display: flex;
    padding: 0px 16px;
    align-items: center;
    height: 100%
}

.site-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
}

.site-title img {
    margin-right: 8px;
}

.nav-links-wrapper {
    list-style: none;
    display: flex;
    margin-left: 16px;
}

.nav-links-wrapper li a {
    padding: 16px 32px;
}

.nav-links-wrapper li a.active {
    color: red;
    font-weight: bold;
}

aside {
    flex: 1;
    padding: 16px;
}

ul.subitem {
    margin-left: 16px;
    display: none;
}

li:hover ul.subitem {
    display: block;
}

aside li {
    padding: 8px 16px;
}

aside nav ul li a {
    font-weight: bold;
}

.subitem>li a {
    font-weight: normal;
}

main {
    background: rgba(255, 255, 255, 0.4);
    flex: 4;
    display: flex;
}

.container {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    margin: 32px 64px;
}

.container>div {
    flex: 1;
    padding: 32px 64px;
    width: 100%;
    overflow: hidden;
}

.container .cover {
    max-width: 100%;
}

hr {
    margin: 32px 0;
}

h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

.wrapper-text {
    width: 200%;
}

.wrapper-text p {
    padding-left: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 18px;
    padding-left: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 18px;
    width: 49%;
    display: inline-block;
    /* transition: ease-in 350ms; */
}

p.next {
    padding-left: 81px;
}

.suivant {
    display: flex;
    align-self: center;
    margin-right: 8px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid white;
    background: none;
    font-size: 24px;
    width: 32px;
    height: 32px;
    line-height: 12px;
}

.suivant:hover {
    background: rgba(255, 255, 255, 0.4);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0px;
    text-align: center;
    max-height: 48px;
    padding: 16px;
    background: black;
}

.contact {
    color: white;
    text-decoration: none;
}